
/* Your CSS Code here. */
table,td,th{
	border: 1px solid black;
	border-spacing:0px;
		
}
th{
	border: 1px solid black;
	height: 10px;
	padding: 1px;
	text-align: left;
	background-color: red;
}
td{
   border: 1px solid black;
	height: 4px;
	width:100px;
	padding: 1px;
	text-align: right;
	text-align: left;
	
}

